

.sobre{
  position: relative;
  margin-bottom: 80px;
}

.sobre .subtitulo{
  color: #e0e0e0;
}

.sobre-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 10px;
  color: #666;
  border-left: 4px solid #FDE021;
  padding: 40px;
}

.sobre-texto strong{
  color: #141414;
  
}

@media(max-width: 800px){
  .sobre{
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 40px;
  }
  .subtitulo{
  padding: 10px 40px;
  }
.sobre-texto{
  border: 4px solid #FDE021;
  margin: 0 auto;
}
}

@media (max-width: 1100px){
  .sobre-texto::before{
    left: 390px;
  }
}




